:root {
    --body-bg-color: #f6f9ff;
    --sidebar-width: 320px;
    --header-height: 70px;
    --footer-height: 70px;

   

    /* Tailwind Blue Colors */
    --tailwind-blue-50: #eff6ff;
    --tailwind-blue-100: #dbeafe;
    --tailwind-blue-200: #bfdbfe;
    --tailwind-blue-300: #93c5fd;
    --tailwind-blue-400: #60a5fa;
    --tailwind-blue-500: #3b82f6;
    --tailwind-blue-600: #2563eb;
    --tailwind-blue-700: #1d4ed8;
    --tailwind-blue-800: #1e40af;
    --tailwind-blue-900: #1e3a8a;
    --tailwind-blue-950: #172554;


    /* Picton Blue */
    --picton-blue-50: #F0F9FF;
    --picton-blue-100: #E0F3FE;
    --picton-blue-200: #BBE7FC;
    --picton-blue-300: #7FD5FA;
    --picton-blue-400: #25B9F4;
    --picton-blue-500: #11A9E6;
    --picton-blue-600: #0587C4;
    --picton-blue-700: #056B9F;
    --picton-blue-800: #095B83;
    --picton-blue-900: #0D4C6D;
    --picton-blue-950: #093048;


    --blue-color:'matisse';

    /**
        * Set the default color to the selected blue color
    */
    --blue-50:  var(--picton-blue-50);
    --blue-100: var(--picton-blue-100);
    --blue-200: var(--picton-blue-200);
    --blue-300: var(--picton-blue-300);
    --blue-400: var(--picton-blue-400);
    --blue-500: var(--picton-blue-500);
    --blue-600: var(--picton-blue-600);
    --blue-700: var(--picton-blue-700);
    --blue-800: var(--picton-blue-800);
    --blue-900: var(--picton-blue-900);
    --blue-950: var(--picton-blue-950);
}

.bg-body {
    background-color: var(--body-bg-color);
}



/* Tailwind CSS Blue Colors */

/* Background Color Classes */
.bg-blue-50  { background-color: var(--blue-50); }
.bg-blue-100 { background-color: var(--blue-100); }
.bg-blue-200 { background-color: var(--blue-200); }
.bg-blue-300 { background-color: var(--blue-300); }
.bg-blue-400 { background-color: var(--blue-400); }
.bg-blue-500 { background-color: var(--blue-500); }
.bg-blue-600 { background-color: var(--blue-600); }
.bg-blue-700 { background-color: var(--blue-700); }
.bg-blue-800 { background-color: var(--blue-800); }
.bg-blue-900 { background-color: var(--blue-900); }
.bg-blue-950 { background-color: var(--blue-950); }

.bg-blue-600-linear {
    background: linear-gradient(135deg, var(--blue-600), var(--blue-700));
}
.bg-blue-600-radial {
    background: radial-gradient(circle, var(--blue-600), var(--blue-700));
}

.bg-blue-500-linear {
    background: linear-gradient(135deg, var(--blue-500), var(--blue-600), var(--blue-700));
}
.bg-blue-500-radial {
    background: radial-gradient(circle, var(--blue-500), var(--blue-600));
}

.bg-blue-400-linear {
    background: linear-gradient(135deg, var(--blue-400), var(--blue-500));
}
.bg-blue-300-linear {
    background: linear-gradient(135deg, var(--blue-300), var(--blue-400));
}
.bg-blue-200-linear {
    background: linear-gradient(135deg, var(--blue-200), var(--blue-600), var(--blue-950));
}
.bg-blue-100-linear {
    background: linear-gradient(135deg, var(--blue-100), var(--blue-500), var(--blue-950));
}

/* Text Color Classes */
.text-blue-50  { color: var(--blue-50); }
.text-blue-100 { color: var(--blue-100); }
.text-blue-200 { color: var(--blue-200); }
.text-blue-300 { color: var(--blue-300); }
.text-blue-400 { color: var(--blue-400); }
.text-blue-500 { color: var(--blue-500); }
.text-blue-600 { color: var(--blue-600); }
.text-blue-700 { color: var(--blue-700); }
.text-blue-800 { color: var(--blue-800); }
.text-blue-900 { color: var(--blue-900); }
.text-blue-950 { color: var(--blue-950); }

.hover-bg-blue-200:hover {
    background-color: var(--blue-200) !important;
}

.bg-sky-50 { background-color: var(--tailwind-sky-50); }
.bg-sky-100 { background-color: var(--tailwind-sky-100); }
.bg-sky-200 { background-color: var(--tailwind-sky-200); }
.bg-sky-300 { background-color: var(--tailwind-sky-300); }
.bg-sky-400 { background-color: var(--tailwind-sky-400); }
.bg-sky-500 { background-color: var(--tailwind-sky-500); }
.bg-sky-600 { background-color: var(--tailwind-sky-600); }
.bg-sky-700 { background-color: var(--tailwind-sky-700); }
.bg-sky-800 { background-color: var(--tailwind-sky-800); }
.bg-sky-900 { background-color: var(--tailwind-sky-900); }
.bg-sky-950 { background-color: var(--tailwind-sky-950); }

/* Text Color Classes */
.text-sky-50 { color: var(--tailwind-sky-50); }
.text-sky-100 { color: var(--tailwind-sky-100); }
.text-sky-200 { color: var(--tailwind-sky-200); }
.text-sky-300 { color: var(--tailwind-sky-300); }
.text-sky-400 { color: var(--tailwind-sky-400); }
.text-sky-500 { color: var(--tailwind-sky-500); }
.text-sky-600 { color: var(--tailwind-sky-600); }
.text-sky-700 { color: var(--tailwind-sky-700); }
.text-sky-800 { color: var(--tailwind-sky-800); }
.text-sky-900 { color: var(--tailwind-sky-900); }
.text-sky-950 { color: var(--tailwind-sky-950); }

.text-sky-50 {
    color: #f0f9ff;
}

.text-sky-100 {
    color: #e0f2fe;
}

.text-sky-200 {
    color: #bae6fd;
}

.text-sky-300 {
    color: #7dd3fc;
}

.text-sky-400 {
    color: #38bdf8;
}

.text-sky-500 {
    color: #0ea5e9;
}

.text-sky-600 {
    color: #0284c7;
}

.text-sky-700 {
    color: #0369a1;
}

.text-sky-800 {
    color: #075985;
}

.text-sky-900 {
    color: #0c4a6e;
}

.text-sky-950 {
    color: #082f49;
}


body {
    background-color: var(--body-bg-color);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100px;
}

img#img-home-logo {
    min-width: 374px !important;
    max-width: 374px !important;
}

#img-logo {
    max-width: 70px;
}

#img-avatar {
    width: 50px;
}

header,
#content {
    transition: all 0.3s;
}

header {
    height: var(--header-height);
}

#content {
    margin-top: calc(var(--header-height) + 1px);
    min-height: calc(100vh - var(--header-height) - 1px);
}

footer {
    height: var(--footer-height);
}

/* ------------------- <Sidebar> ------------------- */
aside {
    width: var(--sidebar-width) !important;
    height:100vh !important;
    border: none !important;
}

aside .navbar-nav .nav-item.active {
    background-color: var(--body-bg-color);
    text-align: center !important;
    color: #075985;
    font-weight: bold;
    border-left: solid 16px;
    /* border-top-left-radius: 32px !important;
    border-bottom-left-radius: 32px !important; */
}

aside .navbar-nav .nav-item.active::after {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: var(--body-bg-color);
    right: -16px;
    top: 0;
    z-index: -1;
}

@media screen and (min-width: 992px) {

    header,
    #content {
        margin-left: calc(var(--sidebar-width) - 1px) !important;
    }

    #offcanvasSidebar {
        transform: none !important;
        visibility: visible !important;
    }
}

@media screen and (max-width: 992px) {
    aside .navbar-nav .nav-item.active {
        /* border-top-right-radius: 32px !important;
        border-bottom-right-radius: 32px !important; */
        border-left: solid 10px;
    }
    
    aside .navbar-nav .nav-item.active::after {
        display: none !important;
    }
}

/* ------------------- </Sidebar> ------------------- */
.toast-container{
    position: fixed !important;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    color:#000000;
}
  